<div class = "stock-market-container" ng-controller = "myStockChart">
    <!-- <h1>Stock Market Chart</h1> -->

    <p>Enter Stock Symbol: </p>
    <input type = "text" ng-model = "stockSym"/>
    <button ng-click="getStock()">Submit</button>
    <button ng-click="storeFavStock()">Follow</button>
    <button ng-click="showFavStocks()">Show Followed</button>
<!--   <p>Followed Stocks</p> -->
  <table>
    <tr ng-repeat="s in stocks">
      <td>{{ s.symbol }}</td>
      <td>{{ s.price }}</td>
      <td>{{ s.change }}</td>
    </tr>
  </table>
  <div id="container" style="height: 400px; min-width: 310px"></div>
</div>